{% extends 'admin.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="{{ path('user-list') }}">Пользователи</a></li>
                <li><span>{{ user.username }}</span></li>
            </ul>

        </div>
        <hr>
        <div class="row">
            <div class="three columns">
                <label>Логин</label>
            </div>
            <div class="nine columns">
                <input type="text" name="first_name" value="{{ user.username }}" class="u-full-width">
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <label>Имя</label>
            </div>
            <div class="nine columns">
                <input type="text" name="first_name" value="{{ user.getFirstName() }}" class="u-full-width">
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <label>Фамилия</label>
            </div>
            <div class="nine columns">
                <input type="text" name="last_name" value="{{ user.getLastName() }}" class="u-full-width">
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <label>Пароль</label>
            </div>
            <div class="nine columns">
                <input type="password" name="password" class="u-full-width">
            </div>
        </div>
        <div class="row text-center">
            <button>Сохранить</button>
        </div>
    </div>
{% endblock %}