<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ '/css/normalize.css' }}" rel="stylesheet" />
            <link href="{{ '/css/skeleton.css' }}" rel="stylesheet" />
            <link href="{{ '/css/style.css' }}" rel="stylesheet" />
            <link href="{{ '/css/helper.css' }}" rel="stylesheet" />
            <link href="{{ '/css/linea/styles.css' }}" rel="stylesheet" />
            <link href="{{ '/css/pikaday.min.css' }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
        {%  include 'top-bar.html.twig' %}
        {% block body %}
        {% endblock %}
        </div>
        <script src="{{ '/js/moment-with-locales.min.js' }}"></script>
        <script src="{{ '/js/underscore-min.js' }}"></script>
        <script src="{{ '/js/helper.js' }}"></script>
        <script src="{{ '/js/pikaday.js' }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
