<header class="header">
    <div class="container">
        <div class="row">
            <div class="three columns">
                <img src="/img/biomed.png" class="logo-img">
            </div>
            <div class="six columns">
                <ul class="menu-list">
                    <li>
                        <a href="{{ path('monitoring') }}">Мониторинг</a>
                    </li>
                    <li>
                        <a href="{{ path('search') }}">Поиск звонков</a>
                    </li>
                    <li>
                        <a href="{{ path('reports') }}">Отчеты</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('reports_not_answered') }}">Не отвеченные</a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}">Страница администратора</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="three columns">
                <div class="row">
                    <span class="top-bar-element">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Здравствуйте, {{ app.user.username }} <!--</span>-->
                        {% endif %}
                    <!--<span class="top-bar-element">-->
                        <a href="{{ path('logout') }}">Выйти</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>